<?xml version="1.0"?>
<!--
/**
 * Category: Wishusucess Sort By Positions REST Api
 * Developer: Hemant Singh Magento 2x Developer
 * Website: http://wwww.wishusucess.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Wishusucess_SortByPositionsApi" schema_version="0.0.1" setup_version="0.0.1">
    </module>
</config>